html, body {
  margin: 0px;
  padding: 0px;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
}

#root {
  min-width: 0px;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#render-target {
  max-width: 100%;;
}

canvas {
  display: block;
}

form {
  display: flex;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}

pre {
  margin: 3rem;
  overflow: auto;
}
